body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
}
.banner{
    background-color:red;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: right;


}
.container {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
    width: 300px;
    height: 200px;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.loadingScreen{
    position: absolute;
    z-index: 5;
    width: 10%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}